# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.prod
.env.production

# Packaging / build
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store

tests/

certs/

*.json
